    body {
        background-color: rgb(204, 221, 248);
    }

    #title {
        margin-bottom: 80px;
    }
    .color {
        border: 1px solid black;
        display: inline-block;
        width: 128px;
        height: 128px;
        margin-left: 1px;
    }

    #pixel-board {
        width: 213px;
        height: 233px;
        padding: 5px;
        margin-top: 50px;
        border: 2px black solid;
        background-color: rgb(255, 0, 0);

    }

    .pixel {
        width: 40px;
        height: 40px;
        margin: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        border: 1px solid black;
        display: inline-block;
    }